<apex:page standardController="Order" extensions="AccessTimesController" standardStylesheets="true" sidebar="false" lightningStylesheets="true">
    <apex:form >

        <head>
            <style>
                .custom-combobox11 {
                    width: 9rem;
                }

                .vf .slds-input {
                    width: 4em !important;
                }

                body,
                td {
                    color: #747474 !important;
                }

                .ui-button-text {
                    height: 1.39rem;
                }

                table.dataTable thead th,
                table.dataTable thead td {
                    padding: 10px 10px !important;
                }

                .slds .slds-textarea {
                    font-size: 0.8rem;
                    padding: 8px 1px !important;
                }

                .ui-input-custom {}
                select{min-width: 10rem !important;}
            </style>
            <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
            <!--<apex:stylesheet value="{!URLFOR($Resource.SLDS203, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />-->
            <!--<apex:stylesheet value="{!URLFOR($Resource.SLDS203, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />-->
        </head>
        <apex:actionStatus id="pageStatus">
            <apex:facet name="start">
                <apex:outputPanel >
                    <img src="/img/loading32.gif" width="25" height="25" />
                    <apex:outputLabel value="Loading..." />
                </apex:outputPanel>
            </apex:facet>
        </apex:actionStatus>
        <div class="vf">
            <div class="slds-page-header" role="banner">
                <div class="slds-grid">
                    <div class="slds-col slds-has-flexi-truncate">
                        <div class="slds-media">

                            <div class="slds-media__body">
                                <apex:outputPanel id="details">
                                    <!--  <p class="slds-text-heading--label">{!weekselection} - {!currentweekend}</p>-->
                                </apex:outputPanel>
                                <div class="slds-grid" style="margin-top:1em;margin-bottom: 1em;">
                                    <div style="border-bottom: .5px solid #d8dde6;padding-bottom:1em;margin-bottom:1.5em;">
                                        <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle" title="Record Title" style="font-size: 1.5em;margin-top:1em;color: #747474;
                                        "><b>Access Times For Opportunity:</b> {!ListOrder[0].Opportunity.Name}</h1>
                                    </div>
                                </div>
                                <div style="float: right;    margin-top: -3em;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="pull-right slds-tabs--scoped">
                <div id="tab-scoped-1" class="slds-tabs--scoped__content slds-show" role="tabpanel" aria-labelledby="tab-scoped-1__item">
                    <apex:pageMessages id="showmsg"></apex:pageMessages>
                    <apex:outputPanel id="pb1" layout="block">
                        <div class="TQ" style=" overflow: auto; ">
                            <table id="contacttable" style="slds-table slds-table--bordered">

                                <thead>
                                    <tr class="slds-text-heading--label">
                                        <th>
                                            <apex:inputCheckbox value="{!selectAll}" id="checkedone" styleClass="contactCb">
                                                <apex:actionSupport event="onclick" action="{!selectAll}" rerender="details,pb1" status="pageStatus" oncomplete="rerenderdatatable();" />
                                            </apex:inputCheckbox>
                                        </th>

                                        <th style="">&nbsp;Agreement &nbsp;</th>

                                        <th style="">&nbsp;Day &nbsp;</th>

                                        <th style="">From &nbsp;</th>

                                        <th style="">To &nbsp;</th>
                                        
                                        <th style="">&nbsp;Comments &nbsp;</th>

                                        <th style="">&nbsp;Location &nbsp;</th>

                                        <!--<th style="width: 50%;"></th>-->
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <apex:variable var="i" value="{!0}" />
                                    <apex:repeat value="{!lstOfbooleanProjectWrapper}" var="entry" id="therepeat" rendered="true">
                                        <tr class="">
                                            <td style="padding-top: 1.5em;">
                                                <apex:inputCheckbox value="{!entry.isselected}" id="checkedone" onclick="uncheck();">

                                                </apex:inputCheckbox>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <!--<apex:inputField style="width: 100px; height: 20px" value="{!entry.objport.Agreement__c}">-->
                                                    <!--</apex:inputField>-->
                                                    <div class="slds-form-element slds-lookup" data-select="single" data-scope="single">
                                                        <label class="slds-form-element__label" for="lookup-02">Things</label>
                                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                            <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#search')} "></use>
                                                            </svg>
                                                            <input class="lookup-02 slds-lookup__search-input slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="false" aria-activedescendant="" placeholder="Search Things"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 100px; height: 20px" value="{!entry.objport.Day__c}">
                                                    </apex:inputField>
                                                </div>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 100px; height: 20px" value="{!entry.objport.From__c}">
                                                    </apex:inputField>
                                                </div>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 100px; height: 20px" value="{!entry.objport.To__c}">
                                                    </apex:inputField>
                                                </div>
                                            </td>
                                            
                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 300px; height: 20px" value="{!entry.objport.Comments__c}" />
                                                </div>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <!--<apex:inputField style="width: 125px; height: 20px" value="{!entry.objport.PHS_Account__c}">-->
                                                    <!--</apex:inputField>-->
                                                    <div class="slds-form-element slds-lookup" data-select="single" data-scope="single">
                                                        <label class="slds-form-element__label" for="lookup-02">Things</label>
                                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                            <svg aria-hidden="true" class="slds-input__icon slds-icon-text-default">
                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/utility-sprite/svg/symbols.svg#search')} "></use>
                                                            </svg>
                                                            <input class="lookup-02 slds-lookup__search-input slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="false" aria-activedescendant="" placeholder="Search Things"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <!-- <td> <apex:outputPanel >-->
                                            <!--     <div style="display:{!If(i ==0,' inline','none')}">-->
                                            <!--     <apex:inputText styleClass="slds-input" value="{!entry.ValuetoList}" style="width:5%;"   id="theTextInputsss" />-->
                                            <!--&nbsp; &nbsp; &nbsp;-->
                                            <!--</div><apex:commandbutton styleClass="slds-button slds-button--neutral" style="margin-left:-1em;" value="Add Lead Product"  action="{!createRecords}" status="pageStatus" /></apex:outputPanel></td>-->
                                            <td style="padding-right: 0.5em;padding-top: 1em;">
                                                <div class="TQ">
                                                    <button type="button" style=" display:none" onclick="Del('{!i}');" Class="delbtnclass{!i} slds-button slds-button--neutral"></button>
                                                    <span class="ui-icon ui-icon-trash" onclick="Del('{!i}');"></span>
                                                </div>
                                            </td>
                                        </tr>
                                        <apex:variable var="i" value="{!i+ 1}" />
                                    </apex:repeat>
                                </tbody>
                            </table>
                        </div>
                    </apex:outputPanel>
                    <apex:actionfunction name="Del" action="{!DelRow}" rerender="details,pb1" status="pageStatus" oncomplete="rerenderdatatable();">

                        <apex:param name="rowToBeDeleted" value="" assignTo="{!RowNo}" />
                    </apex:actionfunction>
                    <br/>
                    <div class="TQ ">
                        <div class="slds-grid slds-wrap slds-grid--pull-padded">
                            <div class="slds-col--padded slds-size--6-of-8">
                                <apex:commandbutton styleClass="slds-button slds-button--neutral !important" value="Delete Selected Rows" action="{!deleteSelectedRows}" oncomplete="rerenderdatatable();" rerender="details,pb1,all,showmsg" status="pageStatus" /> &nbsp; &nbsp; &nbsp; &nbsp;
                                <apex:inputText styleClass="slds-input" value="{!NooFRows}" html-placeholder="Rows to Add" style="width:10%;min-width: 5rem;" id="theTextInput" /> &nbsp;&nbsp;
                                <apex:commandbutton styleClass="slds-button slds-button--neutral" value="Add Additional Access Time(s)" action="{!addrow}" status="pageStatus" /> &nbsp;&nbsp;
                                <apex:commandbutton styleClass="slds-button slds-button--neutral" value="Add New Location" action="{!addLocation}" status="pageStatus" /> &nbsp;&nbsp;
                                <apex:commandbutton styleClass="slds-button slds-button--neutral !important;" value="Save" action="{!saveAccessTime}" oncomplete="Redirectss('{!errOnPage}');" rerender="details,pb1,all,showmsg" status="pageStatus" />
                                <apex:commandbutton styleClass="slds-button slds-button--neutral !important;" value="Cancel" oncomplete="RedirectssCancel();" status="pageStatus" />
                            </div>
                            &nbsp;
                            <!-- <div class="">-->
                            <div class="slds-col--padded slds-size--2-of-16">
                            </div>
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <div class="slds-col--padded slds-size--2-of-8">

                                <!--   </div>
                            <div class="slds-col--padded slds-size--1-of-8">-->
                            </div>
                            <div class="slds-col--padded slds-size--2-of-8">
                                &nbsp;
                            </div>

                            <!-- </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <apex:includescript value="//code.jquery.com/jquery-1.11.1.js" />
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js" />
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <script src="/soap/ajax/38.0/connection.js" type="text/javascript" />
        <script src="/soap/ajax/38.0/apex.js" type="text/javascript" />
        <script>
            function uncheck() {
                j$(".contactCb").prop('checked', false);
            }

            function rerenderdatatable() {


                j$('[id$="contacttable"]').DataTable({
                    "bPaginate": false,


                });
                //}
                onRerenderFunc();
                rerenderweekSum();
            }
            var list;
            j$ = jQuery.noConflict();

            j$(document).ready(function() {

                var contactTable = j$('[id$="contacttable"]').DataTable({
                    "bPaginate": false,


                });

            });
            
            function Redirectss(err) {
                // Classic
                if (err != 'error')
                    window.parent.location = '/{!ListOrder[0].id}';
            }
            function onRerenderFunc() {
                if (!j$.fn.DataTable.isDataTable('[id$="contacttable"]')) {

                    var contactTable = j$('[id$="contacttable"]').DataTable({
                        "bPaginate": false,


                    });
                }
            }

            function RedirectssCancel() {
                window.parent.location = "/{!ListOrder[0].id}";
            }

            function rerenderselection() {
                checkdup();

            }
        </script>
        <apex:slds />
        <script src="{!URLFOR($Resource.aljs, '/jquery.aljs-all-with-moment.min.js')}"></script>
        <script src="{!URLFOR($Resource.aljs, '/jquery.aljs-init.min.js')}"></script>
        <script src="{!URLFOR($Resource.aljs, '/jquery.aljs-modal.min.js')}"></script>
        <script src="{!URLFOR($Resource.aljs, '/jquery.aljs-pill.min.js')}"></script>
        <!--<script src="{!URLFOR($Resource.aljs, '/jquery.aljs-tooltip.min.js')}"></script>-->
        <script src="{!URLFOR($Resource.aljs, '/jquery.aljs-all.min.js')}"></script>
        
        
    
    <script>
        j$(document).ready(function() {
    
        var resultsForSecondLookup = [
            {
                id: 'ajax-result-1',
                label: 'AJAX Result 1',
                metaLabel: 'Optional meta description'
            },
            {
                id: 'ajax-result-2',
                label: 'AJAX Result 2',
                metaLabel: 'Optional meta description'
            },
            {
                id: 'ajax-result-3',
                label: 'AJAX Result 3',
                metaLabel: 'Optional meta description'
            },
            {
                id: 'ajax-result-4',
                label: 'AJAX Result 4',
                metaLabel: 'Optional meta description'
            }
        ];
    
        j$('.lookup-02').lookup({
            items: resultsForSecondLookup,
            objectPluralLabel: 'Things',
            objectLabel: 'Thing',
            useImgTag: 'false',
            objectIconUrl: "{!URLFOR($Asset.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#account')}",
            objectIconClass: 'slds-icon-standard-account',
            initialSelection: { id: 'ajax-result-1', label: 'AJAX Result 1' },
            onClickNew: function() {
                console.log('redirect or run something');
            }
        });
    });
    </script>
    
    </apex:form>
</apex:page>