<apex:page standardController="Account_Relationships__c" recordSetVar="unused" sidebar="false">
    
<apex:form >
<apex:pageBlock >
<apex:pageMessages />
<apex:pageBlock >
Note: All modifications made on the page will be lost if Return button is clicked without clicking the Save button first. 
</apex:pageBlock>
<apex:pageBlockButtons >
<apex:commandButton value="Save" action="{!save}"/>
<apex:commandButton value="Return" action="{!cancel}"/>
</apex:pageBlockButtons>
<apex:pageBlockTable value="{!selected}" var="a" id="table">
<apex:column headerValue="Customer">
<apex:inputField value="{!a.Location__c}"/>
</apex:column>
<apex:column headerValue="Buyer">
<apex:inputField value="{!a.Buyer__c}"/>
</apex:column>
<apex:column headerValue="Negotiator">
<apex:inputField value="{!a.Negotiator__c}"/>
</apex:column>
<apex:column headerValue="Income Manager">
<apex:inputField value="{!a.Income_Manager__c}"/>
</apex:column>
<apex:column headerValue="Relationship Type">
<apex:inputField value="{!a.Relationship_Type__c}"/>
</apex:column>
</apex:pageBlockTable>
</apex:pageBlock>
</apex:form>
</apex:page>