<apex:page standardController="Case" extensions="bg_caseController" action="{!caseToClose}">
<apex:messages />
<apex:form >
<apex:inputHidden value="{!case.Email_ID__c}"/>
<apex:inputHidden value="{!case.To_Close__c}"/>
<apex:commandButton action="{!back}" value="Back" id="backButton"/>

</apex:form>
</apex:page>