<apex:page standardController="Case" extensions="bg_PHSAccountSelectionUpdateController" tabStyle="Case">
	<c:bg_PHSAccountSelectionComponent caseRecord="{!theCase}" cancelButtonURL="{!cancelURL}"/>
</apex:page>