<!--
    Created By: David Kurtanjek 
Created Date: 20/08/2018
-->
<apex:page controller="Case_ContractLines_Overview_All" tabStyle="case" action="{!init}">
   <apex:form >
      <apex:pageMessages />
      <style>
         .tab { overflow: hidden; border: 1px solid #ccc; background-color: #f1f1f1; }
         .tab button {background-color: inherit;float: left;border: none;outline: none;cursor: pointer;padding: 14px 16px;transition: 0.3s;font-size: 17px;background: left;}
         .tab button:hover {background-color: #ddd;}
         .tab button.active {background-color: #ccc;}
         .tabcontent {display: none;padding: 6px 12px;border: 1px solid #ccc;border-top: none;}
         table.contractLineTable, .contractLineTable th, .contractLineTable td {border: 1px solid black;border-collapse: collapse;}
        .contractLineTable th, .contractLineTable td {padding: 5px;text-align: left;}
        .darkGreyColor{ background-color: darkgrey; color: white;    font-size: 14px;}
        .lightGreyColor{ background-color: lightgrey;    font-size: 13px; }
        .morelightGreyColor{background:#f1f1f1;}
      </style>
      <div class="tab">
         <button class="tablinks" onclick="openCls(event, 'activeCls')" type="button" id="active">
            Active Contract Lines
         </button>
         <button class="tablinks" onclick="openCls(event, 'InactiveCls')" type="button" id="inactive">
            Inactive Contract Lines
         </button>
      </div>
      <div id="activeCls" class="tabcontent">
          
        <table style="width:100%" class="contractLineTable">
            <apex:variable var="i" value="{!0}"/>
            <tr class="darkGreyColor">
                <th></th>
                <apex:repeat value="{!Divisions}" var="mapKey">
                    <th colspan="4">{!mapKey}&nbsp;&nbsp;&nbsp;&nbsp;ACV:£{!mapActiveDivisionsToTotal[mapKey]}</th>
                </apex:repeat>
            </tr>
            <apex:repeat value="{!lstActiveWrapDivision}" var="activeDivision">
                <tr class="lightGreyColor">
                    <th> <a  onclick="showorhide('activelevel1_Row_{!i}');" style="text-decoration:none;font-size: 18px;cursor: pointer;">&#x21E9;</a></th>
                    <th colspan="14">  
                        {!activeDivision.strDivisionName}&nbsp;&nbsp;&nbsp;&nbsp;ACV: £{!activeDivision.GrandTotalContractValue}
                        <apex:variable var="j" value="{!0}"/>
                    </th>
                </tr>
                <apex:variable var="j" value="{!0}"/>
                <apex:repeat value="{!activeDivision.lstphsAccWrapper}" var="phsAccWrap">
                    <tr class="morelightGreyColor activelevel1_Row_{!i} ">
                        <th></th>
                        <th colspan="1"><a  onclick="showorhide('activelevel2_Row_{!i}_{!j}');" style="text-decoration:none;font-size: 18px;cursor: pointer;">&#x21E9;</a></th>
                        <th colspan="10">
                            {!phsAccWrap.strLocationName}
                        </th>
                        <th colspan="1">
                            ACV: £{!phsAccWrap.TotalContractValue}
                        </th>
                        <th colspan="2"></th>
                    </tr>
                    <tr  class="activelevel1_Row_{!i} activelevel2_Row_{!i}_{!j}">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Contract Line</th>
                        <th>Product</th>
                        <th>Product Ref</th>
                        <th>Agreement</th>
                        <th>Term<br/>(Years)</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Contract Value</th>
                        <th>Service Freq.</th>
                        <th>Contract Freq</th>
                    </tr>
                    <apex:variable var="k" value="{!0}"/>
                    <apex:repeat value="{!phsAccWrap.lstCLIdToCLs}" var="contract">
                        <tr  class="activelevel1_Row_{!i} , activelevel2_Row_{!i}_{!j}">
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><a  onclick="showorhide('activelevel3_Row_{!i}_{!j}_{!k}');" style="text-decoration:none;font-size: 18px;cursor: pointer;">&#x21E9;</a></td>
                            <td>{!contract.objbg_ContractLine.ContractLineId}</td>
                            <td>{!contract.objbg_ContractLine.ProductName}</td>
                            <td>{!contract.objbg_ContractLine.ProductRef}</td>
                            <td>{!contract.objbg_ContractLine.AgreementTypeName}</td>
                            <td>
                                {!SUBSTITUTE(SUBSTITUTE(contract.objbg_ContractLine.ContractTermName, 'Years', ''), 'Year', '')}
                            </td>
                            <td>
                                <apex:outputText value="{0, Date, dd/MM/YYYY}">
                                    <apex:param value="{!DATEVALUE(contract.objbg_ContractLine.CommencementDate)}" />
                                </apex:outputText>
                            </td>
                            <td>
                                <apex:outputText value="{0, Date, dd/MM/YYYY}">
                                    <apex:param value="{!DATEVALUE(contract.objbg_ContractLine.ExpiryDate)}" />
                                </apex:outputText>
                            </td>
                            <td>
                                £{!contract.objbg_ContractLine.UnitPrice}
                            </td>
                            <td>{!contract.objbg_ContractLine.Quantity}</td>
                            <td>£{!contract.objbg_ContractLine.ContractLineValue}</td>
                            <td>{!RIGHT(contract.objbg_ContractLine.ServiceFrequencyName, LEN( contract.objbg_ContractLine.ServiceFrequencyName)-1)}</td>
                            <td>{!contract.objbg_ContractLine.ContractFrequency}</td>
                        </tr>
                        <apex:outputPanel rendered="{!contract.lstwrapperSite.size > 0}">
                            <tr class="activelevel1_Row_{!i} activelevel2_Row_{!i}_{!j} activelevel3_Row_{!i}_{!j}_{!k}" style="display:none">
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>Full Site Description</th>
                                <th>Quantity</th>
                                <th colspan="9"></th>
                            </tr>
                        </apex:outputPanel>
                        <apex:repeat value="{!contract.lstwrapperSite}" var="wrapsite">
                            <tr class="activelevel1_Row_{!i} activelevel2_Row_{!i}_{!j} activelevel3_Row_{!i}_{!j}_{!k}" style="display:none">
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>{!wrapsite.strfullsite}</td>
                                <td>{!wrapsite.intQuantity}</td>
                                <td colspan="9"></td>
                            </tr>
                        </apex:repeat>
                        <apex:variable var="k" value="{!k+1}"/>
                    </apex:repeat>
                    <apex:variable var="j" value="{!j+1}"/>
                </apex:repeat>
                <apex:variable var="i" value="{!i+1}"/>
            </apex:repeat>
        </table>
      </div>
      
      <div id="InactiveCls" class="tabcontent">
         <table style="width:100%" class="contractLineTable">
            <apex:variable var="i" value="{!0}"/>
            <tr class="darkGreyColor">
                <th></th>
                <apex:repeat value="{!Divisions}" var="mapKey">
                    <th colspan="4">{!mapKey}&nbsp;&nbsp;&nbsp;&nbsp;ACV:£{!mapInActiveDivisionsToTotal[mapKey]}</th>
                </apex:repeat>
            </tr>
            <apex:repeat value="{!lstInActiveWrapDivision}" var="activeDivision">
                <tr class="lightGreyColor">
                    <th> <a  onclick="showorhide('Inactivelevel1_Row_{!i}');" style="text-decoration:none;font-size: 18px;cursor: pointer;">&#x21E9;</a></th>
                    <th colspan="14">  
                        {!activeDivision.strDivisionName}&nbsp;&nbsp;&nbsp;&nbsp;ACV: £{!activeDivision.GrandTotalContractValue}
                        <apex:variable var="j" value="{!0}"/>
                    </th>
                </tr>
                <apex:variable var="j" value="{!0}"/>
                <apex:repeat value="{!activeDivision.lstphsAccWrapper}" var="phsAccWrap">
                    <tr class="morelightGreyColor Inactivelevel1_Row_{!i} ">
                        <th></th>
                        <th colspan="1"><a  onclick="showorhide('Inactivelevel2_Row_{!i}_{!j}');" style="text-decoration:none;font-size: 18px;cursor: pointer;">&#x21E9;</a></th>
                        <th colspan="10">
                            {!phsAccWrap.strLocationName}
                        </th>
                        <th colspan="1">
                            ACV: £{!phsAccWrap.TotalContractValue}
                        </th>
                        <th colspan="2"></th>
                    </tr>
                    <tr  class="Inactivelevel1_Row_{!i} Inactivelevel2_Row_{!i}_{!j}">
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>Contract Line</th>
                        <th>Product</th>
                        <th>Product Ref</th>
                        <th>Agreement</th>
                        <th>Term<br/>(Years)</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Unit Price</th>
                        <th>Quantity</th>
                        <th>Contract Value</th>
                        <th>Service Freq.</th>
                        <th>Contract Freq</th>
                    </tr>
                    <apex:variable var="k" value="{!0}"/>
                    <apex:repeat value="{!phsAccWrap.lstCLIdToCLs}" var="contract">
                        <tr  class="Inactivelevel1_Row_{!i} , Inactivelevel2_Row_{!i}_{!j}">
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><a  onclick="showorhide('Inactivelevel3_Row_{!i}_{!j}_{!k}');" style="text-decoration:none;font-size: 18px;cursor: pointer;">&#x21E9;</a></td>
                            <td>{!contract.objbg_ContractLine.ContractLineId}</td>
                            <td>{!contract.objbg_ContractLine.ProductName}</td>
                            <td>{!contract.objbg_ContractLine.ProductRef}</td>
                            <td>{!contract.objbg_ContractLine.AgreementTypeName}</td>
                            <td>
                                {!SUBSTITUTE(SUBSTITUTE(contract.objbg_ContractLine.ContractTermName, 'Years', ''), 'Year', '')}
                            </td>
                            <td>
                                <apex:outputText value="{0, Date, dd/MM/YYYY}">
                                    <apex:param value="{!DATEVALUE(contract.objbg_ContractLine.CommencementDate)}" />
                                </apex:outputText>
                            </td>
                            <td>
                                <apex:outputText value="{0, Date, dd/MM/YYYY}">
                                    <apex:param value="{!DATEVALUE(contract.objbg_ContractLine.ExpiryDate)}" />
                                </apex:outputText>
                            </td>
                            <td>
                                £{!contract.objbg_ContractLine.UnitPrice}
                            </td>
                            <td>{!contract.objbg_ContractLine.Quantity}</td>
                            <td>£{!contract.objbg_ContractLine.ContractLineValue}</td>
                            <td>{!RIGHT(contract.objbg_ContractLine.ServiceFrequencyName, LEN( contract.objbg_ContractLine.ServiceFrequencyName)-1)}</td>
                            <td>{!contract.objbg_ContractLine.ContractFrequency}</td>
                        </tr>
                        <apex:outputPanel rendered="{!contract.lstwrapperSite.size > 0}">
                            <tr class="Inactivelevel1_Row_{!i} Inactivelevel2_Row_{!i}_{!j} Inactivelevel3_Row_{!i}_{!j}_{!k}" style="display:none">
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                <th>Full Site Description</th>
                                <th>Quantity</th>
                                <th colspan="9"></th>
                            </tr>
                        </apex:outputPanel>
                        <apex:repeat value="{!contract.lstwrapperSite}" var="wrapsite">
                            <tr class="Inactivelevel1_Row_{!i} Inactivelevel2_Row_{!i}_{!j} Inactivelevel3_Row_{!i}_{!j}_{!k}" style="display:none">
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>{!wrapsite.strfullsite}</td>
                                <td>{!wrapsite.intQuantity}</td>
                                <td colspan="9"></td>
                            </tr>
                        </apex:repeat>
                        <apex:variable var="k" value="{!k+1}"/>
                    </apex:repeat>
                    <apex:variable var="j" value="{!j+1}"/>
                </apex:repeat>
                <apex:variable var="i" value="{!i+1}"/>
            </apex:repeat>
        </table>
      </div>
      <script>
         function openCls(evt, cityName) 
         {
             var i, tabcontent, tablinks;
             tabcontent = document.getElementsByClassName("tabcontent");
             for (i = 0; i < tabcontent.length; i++) 
             {
                 tabcontent[i].style.display = "none";
             }
             tablinks = document.getElementsByClassName("tablinks");
             for (i = 0; i < tablinks.length; i++) 
             {
                 tablinks[i].className = tablinks[i].className.replace(" active", "");
             }
             document.getElementById(cityName).style.display = "block";
             evt.currentTarget.className += " active";
         }
         document.getElementById('active').click();//default active cls
         function showorhide(id) 
         {
            var appBanners = document.getElementsByClassName(id);
            var show = true;
            
            if(id.startsWith('activelevel1') || id.startsWith('activelevel2') || id.startsWith('Inactivelevel1') || id.startsWith('Inactivelevel2'))
            {
                show = appBanners[0].style.display === 'none' ? true : false;
                for (var i = 0; i < appBanners.length; i ++) {
                    appBanners[i].style.display = show ?'' : 'none';
                }
            }
            else
            {
                for (var i = 0; i < appBanners.length; i ++) {
                    appBanners[i].style.display = appBanners[i].style.display === 'none' ?'' : 'none';
                }
            }
         }
      </script>
   </apex:form>
</apex:page>