<apex:page standardController="Contact" extensions="ContactToLeadController" showHeader="false" standardStylesheets="true" action="{!createLead}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <apex:form >
        <apex:outputPanel id="myPanel">
            <h1>Status: </h1>
            {!responseMessage}
    </apex:outputPanel>
    </apex:form>  
    <script>
        jQuery(document).ready(function() 
                               {
                                   if ((typeof sforce != 'undefined') && sforce && (!!sforce.one))
                                   {
                                       console.log('----'+{!redirectToLead});
                                             if({!redirectToLead})
                                           window.open("/{!leadId}","_self");
                                         
                                   }
                                   else
                                   {
                                       
                                       console.log('----'+{!redirectToLead}); 
                                       if({!redirectToLead})
                                           window.open("/{!leadId}", "_blank");
                                       window.top.close();  
                                   }
                                   
                               }); 
    </script>
    
</apex:page>