<apex:page showHeader="false" sidebar="false" cache="false" contentType="text/xml" controller="HygieneAVITableController">
    <block>
         <apex:outputPanel rendered="{!quoteLineList.size>0}" layout="none">
       <table border="none" border-collapse="collapse" width="100">
            <table-header>
                <table-row height="10pt">
                    <table-cell width="180" font-size="7pt" font-family="Calibri" color="#445660" font-weight="700" white-space="pre-wrap" line-height="1.295" margin-top="0pt" margin-bottom="8pt" border-right="solid #ffffff 0.5pt" border-top="solid #ffd504 3pt" vertical-align="top" text-align="center" background-color="#ffd504" padding="0pt 5.4pt 0pt 5.4pt"><block>Product</block></table-cell>
                    <table-cell width="357" font-size="7pt" font-family="Calibri" color="#445660" font-weight="700" white-space="pre-wrap" line-height="1.295" margin-top="0pt" margin-bottom="8pt" border-right="solid #ffffff 0.5pt" border-top="solid #ffd504 3pt" vertical-align="top" text-align="center" background-color="#ffd504" padding="0pt 5.4pt 0pt 5.4pt"><block>Charge per Additional Unit</block></table-cell>
                    </table-row>
            </table-header>
            <table-body>
                
               <apex:repeat value="{!quoteLineList}" var="quote">
                <table-row height="30pt">
                    <table-cell width="180" font-size="9pt" font-family="Calibri" color="#445660" white-space="pre-wrap" line-height="1.295" margin-top="0pt" margin-bottom="8pt" border-bottom="solid #ffd504 3pt" vertical-align="top" text-align="center" padding="0pt 5.4pt 0pt 5.4pt"><block>{!quote.SBQQ__ProductName__c}</block></table-cell>          
                    <table-cell width="357" font-size="9pt" font-family="Calibri" color="#445660" white-space="pre-wrap" line-height="1.295" margin-top="0pt" margin-bottom="8pt" border-bottom="solid #ffd504 3pt" vertical-align="top" text-align="center" padding="0pt 5.4pt 0pt 5.4pt"><block>{!quote.PHSCPQ_Standard_AVI_Additional_Charge__c}</block></table-cell>
                     </table-row>
                 </apex:repeat>
            </table-body>
        </table>
              </apex:outputPanel>
    </block>
</apex:page>