<apex:page standardController="Lead" extensions="LeadMapController">

    <head>
        <style>
            #map {
                font-family: Arial;
                font-size:12px;
                line-height:normal !important;
                height:250px;
                //min-width:300px;
                background:transparent;
            }
        </style>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&key=AIzaSyDklMMZ-rK0-IYE4kPG1uKA1zeZV0RcUyI"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    </head>

    <body>
        <div id="map"></div>
    </body>
    <script type="text/javascript">

        $(document).ready(function() {
            console.log('function {!address}----->', '{!address}');
            var myOptions = {
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false
            }

            var map;
            var marker;

            var geocoder = new google.maps.Geocoder();
            var address = ""; 

            if('{!Lead.PostalCode}' == ''){
                if('{!streetAddress}' != ''){
                    if('{!Lead.City}' != ''){
                         address = "{!streetAddress} {!Lead.City}";
                    }else{
                         address = "{!streetAddress}";
                    }
                }else{
                    if('{!Lead.City}' != ''){
                         address = "{!Lead.City}";
                    }else{
                        var address = '';
                    }
                }
                
            }
            else{
                 address = "{!Lead.PostalCode}";
            }
                
            var infowindow = new google.maps.InfoWindow({
                content: "<b>{!Lead.Name}</b><br>" + '{!address}' + " "
            });
            
            
            geocoder.geocode( { address: address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK && results.length) {
                if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {

                    //create map
                    map = new google.maps.Map(document.getElementById("map"), myOptions);

                    //center map
                    map.setCenter(results[0].geometry.location);

                    //create marker
                    marker = new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map,
                    title: "{!Lead.Name}"
                    });

                    //add listeners
                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.open(map,marker);
                    });
                    google.maps.event.addListener(infowindow, 'closeclick', function() {
                        map.setCenter(marker.getPosition());
                    });

                }

            } else {
                $('#map').css({'height' : '15px'});
                $('#map').html("Oops! address could not be found, please make sure the address is correct.");
                resizeIframe();
            }
            });

            function resizeIframe() {
                var me = window.name;
                if (me) {
                var iframes = parent.document.getElementsByName(me);
                    if (iframes && iframes.length == 1) {
                        height = document.body.offsetHeight;
                        iframes[0].style.height = height + "px";
                    }
                }
            }

        });
    </script>
</apex:page>