<apex:page standardController="Lead" extensions="SendtoOutboundQueue" showHeader="false" standardStylesheets="true" action="{!loadMessages}">
    <apex:includeScript value="{!$Resource.Jquery_file}"/>
    <apex:form >
    <apex:outputPanel id="myPanel">
        <apex:pageMessages id="errorMessage" />
    </apex:outputPanel>

    

<script>
  $(function() {
        
            console.log('----'+{!redirectBoolean}); 
            if({!redirectBoolean})
           window.parent.location ='/{!Lead.Id}'
           // sforce.one.navigateToSObject( '{!Lead.Id}');
            
        
            
        }); 
    
    
</script>
 </apex:form>       
</apex:page>