<apex:page showHeader="true" 
    controller="LeadReallocationController" action="{!leadSendtoSales}">
    <apex:sectionHeader title="Lead Reallocation"/>
    <apex:form >
        <apex:pageBlock >
            <apex:pageMessages />
            <apex:pageBlockButtons >
                <apex:commandButton value="Return to Lead" onclick="closeAndRefresh();" reRender="None"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    <script>
        function closeAndRefresh(){
            if('{!$CurrentPage.parameters.id}' != null && '{!$CurrentPage.parameters.id}' != ''){
                window.top.location = '/{!$CurrentPage.parameters.id}';
            }
        }
    </script>
</apex:page>