<apex:page standardController="Account" showHeader="false" extensions="VFC_AccountController">
    <title>VFC Win Loss Pie Chart</title>
    <apex:pageBlock title="Opportunities Won/Loss Chart">
        <div id="pieChart">
            <apex:chart height="200" width="400" background="#f8f8f8" data="{!pieData}">
                <apex:pieSeries dataField="data" labelField="name" colorSet="#0B6FCE, #DC3912">
                    <apex:chartTips width="75" height="25"/>
                    <!--<apex:chartLabel display="middle" orientation="vertical"  font="bold 18px Helvetica"/>-->
                </apex:pieSeries>
                <apex:legend position="right"></apex:legend>
            </apex:chart>
        </div>
    </apex:pageBlock>
    <style>
        #pieChart{
            margin: 0 auto;
            width: 400px;
        }
        .bPageBlock .pbTitle{
            width: 100%;
        }
    </style>
</apex:page>