<apex:page standardController="Case" extensions="CaseMultiWorkItemController" standardStylesheets="true"
    sidebar="false">
    <apex:form >

        <head>
            <style>
                .custom-combobox11 {
                    width: 9rem;
                }
                
                .vf .slds-input {
                    width: 4em !important;
                }
                
                body,
                td {
                    color: #747474 !important;
                }
                
                .ui-button-text {
                    height: 1.39rem;
                }
                
                table.dataTable thead th,
                table.dataTable thead td {
                    padding: 10px 10px !important;
                }
                
                .slds .slds-textarea {
                    font-size: 0.8rem;
                    padding: 8px 1px !important;
                }
                
                .ui-input-custom {}

            </style>
            <apex:stylesheet value="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"
            />
            <apex:stylesheet value="{!URLFOR($Resource.SLDS203, 'assets/styles/salesforce-lightning-design-system-vf.css')}"
            />
            <apex:stylesheet value="{!URLFOR($Resource.SLDS203, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}"
            />


        </head>





        <apex:actionStatus id="pageStatus">
            <apex:facet name="start">
                <apex:outputPanel >
                    <img src="/img/loading32.gif" width="25" height="25" />
                    <apex:outputLabel value="Loading..." />
                </apex:outputPanel>
            </apex:facet>
        </apex:actionStatus>
        <div class="vf">


            <div class="slds-page-header" role="banner">
                <div class="slds-grid">
                    <div class="slds-col slds-has-flexi-truncate">
                        <div class="slds-media">

                            <div class="slds-media__body">
                                <apex:outputPanel id="details">
                                </apex:outputPanel>
                                <div class="slds-grid" style="margin-top:1em;margin-bottom: 1em;">
                                    <div style="border-bottom: .5px solid #d8dde6;padding-bottom:1em;margin-bottom:1.5em;">
                                        <h1 class="slds-text-heading--medium slds-m-right--small slds-truncate slds-align-middle"
                                            title="Record Title" style="font-size: 1.5em;margin-top:1em;color: #747474;
                                        "><b>Work Items for:</b> {!lst_parentcases[0].CaseNumber}</h1>
                                    </div>



                                </div>
                                <div style="float: right;    margin-top: -3em;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="pull-right slds-tabs--scoped">

                <div id="tab-scoped-1" class="slds-tabs--scoped__content slds-show" role="tabpanel"
                    aria-labelledby="tab-scoped-1__item">
                    <apex:pageMessages id="showmsg"></apex:pageMessages>
                    <apex:outputPanel id="pb1" layout="block">
                        <div class="TQ" style=" overflow: auto; ">
                            <table id="contacttable" style="slds-table slds-table--bordered">

                                <thead>
                                    <tr class="slds-text-heading--label">
                                        <th>
                                            <apex:inputCheckbox value="{!selectAll}"
                                                id="checkedone" styleClass="contactCb">
                                                <apex:actionSupport event="onclick" action="{!selectAll}" rerender="details,pb1"
                                                    status="pageStatus" oncomplete="rerenderdatatable();"
                                                />
                                            </apex:inputCheckbox>
                                        </th>

                                        <th style="">&nbsp;Parent Case &nbsp;</th>

                                        <th style="">&nbsp;Subject &nbsp;</th>
                                        
                                        <th style="">&nbsp;Status &nbsp;</th>

                                        <th style="">Type &nbsp;</th>

                                        <th style="">Assigned To &nbsp;</th>

                                        <th style="">&nbsp;Comments &nbsp;</th>
                                        
                                        <th style="">&nbsp;Priority &nbsp;</th>

                                        <th style="">&nbsp;Diarised Date &nbsp;</th>

                                        <th style="">&nbsp;Due Date &nbsp;</th>

                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>


                                    <apex:variable var="i" value="{!0}" />


                                    <apex:repeat value="{!lstOfbooleanProjectWrapper}" var="entry" id="therepeat" rendered="true">
                                        <tr class="">
                                            <td style="padding-top: 1.5em;">
                                                <apex:inputCheckbox value="{!entry.isselected}" id="checkedone" onclick="uncheck();">

                                                </apex:inputCheckbox>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 75px; height: 20px" value="{!entry.objport.Parent_Case__c}">
                                                    </apex:inputField>
                                                </div>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 175px; height: 40px" value="{!entry.objport.Subject}">
                                                    </apex:inputField>
                                                </div>
                                            </td>
                                            
                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 100px; height: 20px" value="{!entry.objport.Status}">
                                                    </apex:inputField>
                                                </div>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 100px; height: 20px" value="{!entry.objport.Type}">
                                                    </apex:inputField>
                                                </div>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 200px; height: 20px" value="{!entry.objport.OwnerId}">
                                                    </apex:inputField>
                                                </div>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 200px; height: 40px" value="{!entry.objport.Description}"
                                                    />
                                                    
                                                </div>
                                            </td>
                                            
                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 65px; height: 20px" value="{!entry.objport.Priority}"
                                                    />
                                                </div>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 100px; height: 20px" value="{!entry.objport.Diarised_Date_Time__c}"
                                                    />
                                                </div>
                                            </td>

                                            <td style="padding-right: 1em;padding-top: 1em;">
                                                <div class="slds">
                                                    <apex:inputField style="width: 100px; height: 20px" value="{!entry.objport.Due_Date__c}"
                                                    />
                                                </div>
                                            </td>

                                            <td style="padding-right: 0.5em;padding-top: 1em;">
                                                <div class="TQ">
                                                    <button type="button" style=" display:none" onclick="Del('{!i}');" Class="delbtnclass{!i} slds-button slds-button--neutral"></button>
                                                    <span class="ui-icon ui-icon-trash" onclick="Del('{!i}');"></span>
                                                </div>
                                            </td>
                                        </tr>

                                        <apex:variable var="i" value="{!i+ 1}" />
                                    </apex:repeat>


                                </tbody>

                            </table>
                        </div>
                    </apex:outputPanel>




                    <apex:actionfunction name="Del" action="{!DelRow}" rerender="details,pb1" status="pageStatus"
                        oncomplete="rerenderdatatable();">

                        <apex:param name="rowToBeDeleted" value="" assignTo="{!RowNo}" />

                        <apex:param name="rowToBeDeleted" value="" assignTo="{!RowNo}" />
                    </apex:actionfunction>
                    <br/>

                    <div class="TQ ">
                        <div class="slds-grid slds-wrap slds-grid--pull-padded">
                            <div class="slds-col--padded slds-size--6-of-8">
                                <apex:commandbutton styleClass="slds-button slds-button--neutral !important" value="Delete Selected Rows"
                                    action="{!deleteSelectedRows}" oncomplete="rerenderdatatable();"
                                    rerender="details,pb1,all,showmsg" status="pageStatus"
                                /> &nbsp; &nbsp; &nbsp; &nbsp;
                                <apex:inputText styleClass="slds-input"
                                    value="{!NooFRows}" html-placeholder="Rows to Add"
                                    style="width:10%" id="theTextInput" /> &nbsp;&nbsp;
                                <apex:commandbutton styleClass="slds-button slds-button--neutral" value="Add Additional Work Items"
                                    action="{!addrow}" status="pageStatus" /> &nbsp;&nbsp;
                                <apex:commandbutton styleClass="slds-button slds-button--neutral !important;"
                                    value="Save" action="{!saveWorkItem}" oncomplete="Redirectss('{!errOnPage}');"
                                    rerender="details,pb1,all,showmsg" status="pageStatus"
                                />

 <apex:commandbutton styleClass="slds-button slds-button--neutral !important;"
                                    value="Cancel" oncomplete="RedirectssCancel();"
                                     status="pageStatus"
                                />

                            </div>


                            &nbsp;
                            <!-- <div class="">-->

                            <div class="slds-col--padded slds-size--2-of-16">

                            </div>
                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <div class="slds-col--padded slds-size--2-of-8">

                                <!--   </div>
                            <div class="slds-col--padded slds-size--1-of-8">-->

                            </div>
                            <div class="slds-col--padded slds-size--2-of-8">
                                &nbsp;
                            </div>

                            <!-- </div>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <apex:includescript value="//code.jquery.com/jquery-1.11.1.js" />
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <apex:includescript value="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js" />
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <script src="/soap/ajax/38.0/connection.js" type="text/javascript" />
        <script src="/soap/ajax/38.0/apex.js" type="text/javascript" />
        <script>
            function uncheck() {
                j$(".contactCb").prop('checked', false);
            }

            function rerenderdatatable() {


                j$('[id$="contacttable"]').DataTable({
                    "bPaginate": false,


                });
                //}
                onRerenderFunc();
                rerenderweekSum();
            }
            var list;
            j$ = jQuery.noConflict();

            j$(document).ready(function() {

                var contactTable = j$('[id$="contacttable"]').DataTable({
                    "bPaginate": false,


                });

            });



            function Redirectss(err) {

                // Classic
                if(err!='error')
                window.parent.location = '/{!lst_Parentcases[0].id}';


            }

            function onRerenderFunc() {


                if (!j$.fn.DataTable.isDataTable('[id$="contacttable"]')) {

                    var contactTable = j$('[id$="contacttable"]').DataTable({
                        "bPaginate": false,


                    });
                }



            }
            
            function RedirectssCancel()
{
  window.parent.location = "/{!lst_parentcases[0].id}";   
}

            function rerenderselection() {
                checkdup();

            }

        </script>




    </apex:form>

</apex:page>