<apex:page standardController="Account_Plan__c" tabStyle="Account_Plan__c">
   <html>
  <head>
   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var proportionPercentage = {!Account_Plan__c.Sum_of_Closed_Won_Opportunities__c/Account_Plan__c.Account_Sales_Goal__c};
        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['CW Opps', {!Account_Plan__c.Sum_of_Closed_Won_Opportunities__c}]
        ]);

        var options = {
          width: 400, height: 175,
          redFrom: {!Account_Plan__c.Account_Sales_Goal__c}-(.2*{!Account_Plan__c.Account_Sales_Goal__c}), redTo: {!Account_Plan__c.Account_Sales_Goal__c},
          yellowFrom:{!Account_Plan__c.Account_Sales_Goal__c}-(.5*{!Account_Plan__c.Account_Sales_Goal__c}), yellowTo: {!Account_Plan__c.Account_Sales_Goal__c}-(.2*{!Account_Plan__c.Account_Sales_Goal__c}),
          minorTicks: 5,
          max: {!Account_Plan__c.Account_Sales_Goal__c}
        };
        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: auto; margin: 0 auto !important; height: 300px; padding-left: 43%;"></div>
  </body>
</html>
</apex:page>