<apex:page standardcontroller="Account" extensions="DisplayContactsControllerExt" showheader="false" sidebar="false" > 
 <apex:stylesheet value="{!URLFOR($Resource.dataTable,
                  'DataTables-1.10.12/media/css/jquery.dataTables.min.css')}"/> 
 <apex:includeScript value="{!URLFOR($Resource.dataTable,
                  'DataTables-1.10.12/media/js/jquery.js')}"/>  
 <apex:includeScript value="{!URLFOR($Resource.dataTable,
                  'DataTables-1.10.12/media/js/jquery.dataTables.min.js')}"/>
 <script>
 
 $(document).ready(function() {
    $('#example').DataTable( {
        
        "pageLength": 100
    } );
} );
 
 
 </script>
    <apex:form >
        <apex:pageBlock title="Contacts under {!Account.Name}" >
            <apex:outputPanel rendered="{!!hasContacts}">
                <b>Sorry there are no contacts under this account</b>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!hasContacts}">
                <table id="example" class="display" cellspacing="0" width="100%">
        
        <thead>
            <tr>
                <th>Salutation</th>
                <th>Contact Name</th>
                <th>Title</th>
                <th>Account Name-Department</th>
                <th>Phone</th>
                <th>Mobile Phone</th>
                <th>Owner Name</th>
              </tr>
              <tfoot>
            <tr>
                <th>Salutation</th>
                <th>Contact Name</th>
                <th>Title</th>
                <th>Account Name-Department</th>
                <th>Phone</th>
                <th>Mobile Phone</th>
                <th>Owner Name</th>
            </tr>
        </tfoot>
        </thead>
        
        <tbody>
        
            <apex:repeat value="{!lstContactDisplay}" var="a" id="list">
                <tr>
                    <td>{!a.Salutation}</td>
                    <td> <apex:outputLink value="/{!a.id}">{!a.Name}</apex:outputLink> </td>
                    <td>{!a.Title}</td>
                    <td>{!a.Account.Account_Name_Department__c}</td>
                    <td>{!a.Phone}</td>
                    <td>{!a.MobilePhone}</td>
                    <td>{!a.Owner.Name}</td>
                    
                </tr>
             </apex:repeat>  
        </tbody>
    </table>
                
            </apex:outputPanel>
        </apex:pageBlock>
    </apex:form>
</apex:page>