<apex:page standardController="User" extensions="InvalidContactOwnershipClass">
    <div style="text-align:center; width:100%; font-size: 12pt; font-weight: bold;margin:10px;">
        Vous n'avez pas les droits d'accès pour ce contact. Le propriétaire du contact est {! userName}. Vous pouvez contacter le propriétaire à l'adresse email suivante <a href="mailto:{! userEmail}">{! userEmail}</a>
    </div>    
</apex:page>