<apex:page standardController="Account_Plan__c" extensions="RollingMapControllerExt" applyBodyTag="false" sidebar="false" showHeader="false">
    <apex:form >
        <head>
            <style>
                table, th, td 
                {
                    border: 1px solid black;
                    border-collapse: collapse;
                    word-wrap:break-word;
                }
                
                tr td
                {   white-space: pre-wrap;
                    width:1%;
                    word-wrap:break-word;
                }
            </style>
        </head>
    
    <apex:outputPanel id="CurrentYearTable">      
        <table width="" id="theTextInput">
            
            <tr style="text-align:center;">
                <th><apex:outputText value="{0, date, 'FY' YY'/'}" style="width:6em;font-size:10pt;">
                        <apex:param value="{!CurrentDate}"/></apex:outputText>
                    <apex:outputText value="{0, date,YY}" style="width:6em;font-size:10pt;">
                        <apex:param value="{!nextYear}"/></apex:outputText>
                </th>
                    
                <apex:variable var="count" value="{!0}"/>
                    <apex:repeat value="{!CurrentYearMonths}" var="yr">
                        
                        <th style="text-align:center;"><apex:outputText style="width:5em;font-size:10pt;text-align:centre;" value="{0, date, MMM'-'  yy}">
                            <apex:param value="{!yr}" /></apex:outputText>
                        </th>
                        
                    <apex:variable var="count" value="{!count+1}"/>
                </apex:repeat>
                        
                        <th style="text-align:center;"><apex:outputText style="font-size:10pt;font-weight:bold;" value="Total"></apex:outputText></th>
    
            </tr>
            
            <apex:variable var="count" value="{!0}"/>
                <apex:repeat value="{!CurrentYearMonthlyExpendituresTotal}" var="lst">
                    
                    <tr style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};">
                    <th style="font-size:10pt;width:16%;"><apex:outputText value="{!lst.newMonthlyExpenditure.Name}"></apex:outputText></th>
                    
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_01__c}" id="mon1" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_02__c}" id="mon2" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_03__c}" id="mon3" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_04__c}" id="mon4" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_05__c}" id="mon5" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_06__c}" id="mon6" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_07__c}" id="mon7" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_08__c}" id="mon8" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_09__c}" id="mon9" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_10__c}" id="mon10" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_11__c}" id="mon11" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td><apex:inputField value="{!lst.newMonthlyExpenditure.Month_12__c}" id="mon12" style="background-color:{!IF(mod(count,2)==0, '#c5d5e9', '')};text-align:right;width:5em;font-size:10pt;"/></td>
                    <td style="width: 10%;text-align:right;"><apex:outputText style="font-size:10pt;text-align:right;font-weight:bold;" value="{!Account_Plan__c.Currency_Symbol__c}"/><apex:outputText value="{!lst.TotalName}" style="text-align:right;width:5em;font-size:10pt;font-weight:bold;"></apex:outputText></td>
            </tr>
                <apex:variable var="count" value="{!count+1}"/>
            </apex:repeat>
                    
            <tr bgcolor="#c5d5e9">
               <th style="font-size:10pt;"><apex:outputText value="No.of Sites"></apex:outputText>
               </th>
               
               <!--<apex:variable var="count" value="{!0}"/>-->
               <!--     <apex:repeat value="{!NoOfSitesCurr}" var="st">-->
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_01__c}" id="site1" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_02__c}" id="site2" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_03__c}" id="site3" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_04__c}" id="site4" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_05__c}" id="site5" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_06__c}" id="site6" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_07__c}" id="site7" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_08__c}" id="site8" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_09__c}" id="site9" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_10__c}" id="site10" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_11__c}" id="site11" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td><apex:inputField value="{!AccountPlanWithDetails.Site_Month_12__c}" id="site12" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;"/></td>
                        <td style="text-align:right;"><apex:outputText value="{!TotalNoOfSites}" style="background-color:#c5d5e9;text-align:right;width:5em;font-size:10pt;font-weight:bold;"></apex:outputText></td>
                <!--<apex:variable var="count" value="{!count+1}"/>-->
                <!--</apex:repeat> -->
            </tr> 
                    
            <tr>
                <th style="font-size:10pt;padding:4px;"><apex:outputText value="Total"></apex:outputText></th>
                         
                         <apex:variable var="count" value="{!0}"/>
                            <apex:repeat value="{!TotalMonthWiseListCurrentYear}" var="curTot">
                                <th style="word-wrap:break-word;font-size:10pt;text-align:right;"><apex:outputText style="font-size:10pt;text-align:right;font-weight:bold;" value="{!Account_Plan__c.Currency_Symbol__c}"/><apex:outputText value="{!curTot}"></apex:outputText></th>
                                
                             <apex:variable var="count" value="{!count+1}"/>
                            </apex:repeat>
                            <td style="font-size:10pt;font-weight:bold;text-align:right;"><apex:outputText style="font-size:10pt;text-align:right;font-weight:bold;" value="{!Account_Plan__c.Currency_Symbol__c}"/><apex:outputText value="{!TotalMonthlySumCurrent}"></apex:outputText></td>
                    </tr>
                    
                    <tr>
                        <th  style="font-size:10pt;padding: 4px;"><apex:outputText value="Yield"></apex:outputText></th>
                            <apex:variable var="count" value="{!0}"/>
                                <apex:repeat value="{!TotalYieldListCurr}" var="yld">
                                    <td style="font-weight:bold;text-align:right;font-size:10pt;"><apex:outputText value="{0, number, 00.00}">
                               <apex:param value="{!yld}"/></apex:outputText></td>
                             <apex:variable var="count" value="{!count+1}"/>
                        </apex:repeat>
                        <td style="font-size:10pt;font-weight:bold;text-align:right;">
                            <apex:outputText value="{0, number, 00.00}">
                               <apex:param value="{!TotalYield}"/></apex:outputText></td>
                    </tr>
                    
            </table>
        </apex:outputPanel>
        <br/>
        <div align="Center">
            <apex:commandButton style="font-weight:bold;font-size:12pt;width:100px;float:centre" value="Save" action="{!saveCurrent}" rerender="CurrentYearTable" oncomplete="window.top.location='/{!Account_Plan__c.id}'; return false" />
            </div>

        <!--</apex:outputPanel>-->

  </apex:form>      
            


</apex:page>