<apex:page standardController="Opportunity" extensions="dq_redirectOpportunity" showHeader="false" standardStylesheets="true" action="{!loadMessages}">
    <apex:includeScript value="{! $Resource.Jquery }"/>
    <apex:form >
    <apex:outputPanel id="myPanel">
        <apex:pageMessages id="errorMessage" />
    </apex:outputPanel>

    

<script>
   jQuery(document).ready(function() 
        {
            console.log('----'+{!redirectBoolean}); 
            if({!redirectBoolean})
           sforce.one.navigateToURL("/apex/dq_AgencyListngBuyer?id={!Opportunity.Id}");


            
        }); 
    
    
</script>
 </apex:form>       
</apex:page>